<?xml version="1.0"?>
<launch>

  <!--  Global Parameters -->
  <param name="/use_sim_time" value="false"/>
  <remap from="cmd_vel" to="cmd_vel" />

 <!--  Rebublish -->
  <include file="$(find carkyo_pro)/launch/sensors/sensor_nodes.launch" />  

 <!--  Map server empty -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find carkyo_pro)/maps/may/ShapesMap-26june.yaml"/>

 <!--  Map server
  <node name="map_server" pkg="map_server" type="map_server" args="$(find carkyo_pro)/maps/may/ShapesMap.yaml"/>-->

 <!--  Robot localization-->
  <include file="$(find carkyo_pro)/launch/real/ekf_nodes_single_imu.launch" />
  <include file="$(find carkyo_pro)/launch/real/navsat_transform.launch" /> 
  <include file="$(find carkyo_pro)/launch/real/navsat_transform2.launch" /> 

 <!--  Static transforms-->
  <include file="$(find carkyo_pro)/launch/tf/tf.launch" />

  <!-- Move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	<rosparam file="$(find carkyo_pro)/config_navigation/diff_drive/costmap_common_params_23jan.yaml" command="load" ns="global_costmap" />
  	<rosparam file="$(find carkyo_pro)/config_navigation/diff_drive/costmap_common_params.yaml" command="load" ns="local_costmap" />
  	<rosparam file="$(find carkyo_pro)/config_navigation/diff_drive/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find carkyo_pro)/config_navigation/diff_drive/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find carkyo_pro)/config_navigation/diff_drive/teb_local_planner_params.yaml" command="load" />
<!--add-->
    <rosparam file="$(find carkyo_pro)/config_navigation/diff_drive/costmap_converter_params.yaml" command="load" />   
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="planner_frequency" value="1.0" />  <!--16 jan was 1.0 -->
    <param name="planner_patience" value="5.0" />
 <!--   <param name="GlobalPlanner/use_dijkstra " value="true" /> -->
	<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
	<param name="controller_frequency" value="3.0" />
    <param name="controller_patience" value="2.0" /> <!--was 15s -->
  </node>

  <!-- transform these vel msgs to robot commands via the twist2ack node -->

  <node name="twist2ack" pkg="carkyo_pro" type="twist2ack.py" respawn="true" output="screen"/>
   
  <!-- Rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find carkyo_pro)/config_rviz/move_base.rviz"/>  

</launch>
